<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:insert="~{bootstrap/head.html :: head}">
          </th:block> /*/-->
    <title>Statistics</title>
</head>
<body>
<!--/*/ <th:block th:insert="~{bootstrap/navbar_admin.html :: navbar}">
          </th:block> /*/-->
</br>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="text-align: center;" scope="col">Количество специалистов</th>
            <th style="text-align: center;" scope="col">Сумма премий специалистам</th>
            <th style="text-align: center;" scope="col">Суммарный объем кредитов</th>
            <th style="text-align: center;" scope="col">Суммарный объем кредитов на меха</th>
            <th style="text-align: center;" scope="col">Суммарный застрахованый объем кредитов</th>
            <th style="text-align: center;" scope="col">Средний процент проникновении страховок</th>
            <th style="text-align: center;" scope="col">Средний процент кредитов с СМС</th>
        </tr>
        </thead>
        <tbody>
        <td style="text-align: center;"
            th:text="${countCreditSpecialist}">
        </td>
        <td style="text-align: center;"
            th:text="${#numbers.formatDecimal(sumTotalPremiumSpecialists, 0, 'DEFAULT', 1, 'POINT')}">
        </td>
        <td style="text-align: center;"
            th:text="${#numbers.formatDecimal(sumAmountCredits, 0, 'DEFAULT', 1, 'POINT')}">
        </td>
        <td style="text-align: center;"
            th:text="${#numbers.formatDecimal(sumAmountAllCreditsCategoryFur, 0, 'DEFAULT', 1, 'POINT')}">
        </td>
        </tbody>
    </table>

    //Распределение уровней Специалистов (сделать графиком)
</div>
</br>
</br>
</br>
</br>
</br>
<!--/*/ <th:block th:insert="~{bootstrap/tail.html :: tail}">
          </th:block> /*/-->
</body>
</html>